<!-- Sección de habilidades blandas -->
<section class="soft__skills section" id="skills">
    <h2 class="section-title">Habilidades blandas</h2>
  
    <div class="soft__container bd-grid">          
        <div>
            <div class="soft__data">
                <div class="soft__names">
                    <i class="fas fa-users soft__icon"></i>
                    <span class="soft__name">Trabajo en equipo</span>
                </div>
                <div class="soft__bar soft__team">
  
                </div>
                <div>
                    <span class="soft__percentage">80%</span>
                </div>
            </div>
            <div class="soft__data">
                <div class="soft__names">
                    <i class="fas fa-magic soft__icon"></i>
                    <span class="soft__name">Creatividad</span>
                </div>
                <div class="soft__bar soft__creativity">
                    
                </div>
                <div>
                    <span class="soft__percentage">75%</span>
                </div>
            </div>
            <div class="soft__data">
                <div class="soft__names">
                    <i class='bx bx-brain soft__icon' ></i>
                    <span class="soft__name">Resolver problemas</span>
                </div>
                <div class="soft__bar soft__solving">
                    
                </div>
                <div>
                    <span class="soft__percentage">80%</span>
                </div>
            </div>
            <div class="soft__data">
                <div class="soft__names">
                    <i class="fas fa-sitemap soft__icon"></i>
                    <span class="soft__name">Liderazgo</span>
                </div>
                <div class="soft__bar soft__leader">
                    
                </div>
                <div>
                    <span class="soft__percentage">75%</span>
                </div>
            </div>
        </div>
    </div>
</section>