<!-- Sección de habilidades blandas -->
<section class="soft__skills section" id="skills">
    <h2 class="section-title">Habilidades blandas</h2>
  
    <div class="soft__container bd-grid">          
            <div class="soft__data" *ngFor="let item of habilidadesblandas">
                <circle-progress
                [percent]="(item.porcentajeHB)"
                [maxPercent]="100"
                [title]="(item.habilidadBlandaNombre)"
                [subtitle]="'habilidad blanda'"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animationDuration]="1000">
                </circle-progress>
            </div>
    </div>

</section>