<!-- Sección de inicio del portfolio -->
<section class="home bd-grid" id="home">
  <div class="home__data">
      <h1 class="home__title">Hola,<br>Yo soy <span class="home__title-color"> Gonzalo </span></h1> 
          <p>Desarrollador Front End</p>

      <a href="#" class="button">Contacto</a>
  </div>

  <div class="home__social">
      <a href="https://www.linkedin.com/in/gonzalo-juan-diez-7188851a5/" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
      <a href="https://github.com/Gonzalo-diez" class="home__social-icon"><i class='bx bxl-github' ></i></a>
  </div>

  <div class="home__img">
      <svg class="home__blob" viewBox="0 0 479 467">
          <mask id="mask0" mask-type="alpha">
              <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
          </mask>
          <g mask="url(#mask0)">
              <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
              <image class="home__blob-img" x="65" y="55" href="../../../assets/img/perfil-removebg-preview.png"/>
              <image class="home__blob-img" x="65" y="55" href="../../../assets/img/perfil-removebg-preview.png"/>
          </g>
      </svg>
  </div>
</section>

<!-- Sección de intereses -->
<section class="about section " id="about">
    <h2 class="section-title">Sobre mí</h2>
  
    <div class="about__container bd-grid"> 
        <div>
            <h2 class="about__subtitle">Yo soy Gonzalo</h2>
            <p class="about__text">Y soy un desarrollador web especializado en Front End, me gusta leer libros y el cine y practicar jiu jitsu.</p>           
        </div>                                   
    </div>
</section>

<!-- Sección de habilidades -->
<section class="skills section" id="skills">
    <h2 class="section-title">Habilidades</h2>
  
    <div class="skills__container bd-grid">          
        <div>
            <h2 class="skills__subtitle">Habilidades profesionales</h2>
            <p class="skills__text">Me especializo en la maquetación de páginas con html, css y javaScript y en el desarrollo de web apps con React</p>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-html5 skills__icon'></i>
                    <span class="skills__name">HTML5</span>
                </div>
                <div class="skills__bar skills__html">
  
                </div>
                <div>
                    <span class="skills__percentage">95%</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-css3 skills__icon'></i>
                    <span class="skills__name">CSS3</span>
                </div>
                <div class="skills__bar skills__css">
                    
                </div>
                <div>
                    <span class="skills__percentage">85%</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-javascript skills__icon' ></i>
                    <span class="skills__name">JAVASCRIPT</span>
                </div>
                <div class="skills__bar skills__js">
                    
                </div>
                <div>
                    <span class="skills__percentage">80%</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-react skills__icon' ></i>
                    <span class="skills__name">REACT</span>
                </div>
                <div class="skills__bar skills__react">
                    
                </div>
                <div>
                    <span class="skills__percentage">75%</span>
                </div>
            </div>
            <div class="skills__data">
              <div class="skills__names">
                  <i class="bx bxs-data skills__icon"></i>
                  <span class="skills__name">MySQL</span>
              </div>
              <div class="skills__bar skills__sql">
                  
              </div>
              <div>
                  <span class="skills__percentage">60%</span>
              </div>
          </div>
        </div>
    </div>
</section>

<!-- Sección de trabajos -->
<section class="work section" id="work">
    <h2 class="section-title">Trabajos</h2>
  
    <div class="work__container bd-grid">
        <a href="https://github.com/Gonzalo-diez/proyecto-app-libreria" class="work__img">
            <img src="../../../assets/img/gifApp.gif" alt="App libreria">
            <h3 class="work__title">App libreria</h3>
        </a>
        <a href="https://github.com/Gonzalo-diez/calculadora" class="work__img">
            <img src="../../../assets/img/calculadora.gif" alt="Calculadora">
            <h3 class="work__title">Calculadora JS</h3>
        </a>
        <a href="https://github.com/Gonzalo-diez/tateti" class="work__img">
            <img src="../../../assets/img/tateti.gif" alt="Ta-te-ti">
            <h3 class="work__title">Tateti JS</h3>
        </a>
    </div>
</section>

<!-- Sección de contacto -->
<section class="contact section" id="contact">
    <h2 class="section-title">Contacto</h2>

    <div class="contact__container bd-grid">
        <form class="contact__form" id="contactForm" action="" method="">
            <input id="nombre" name="name" type="text" placeholder="Nombre" class="contact__input" required>
            <input id="email" name="email" type="mail" placeholder="Email" class="contact__input" required>
            <textarea name="msgContent" id="msgContent" cols="0" rows="10" class="contact__input" required></textarea>
            <input type="submit" value="Enviar" class="contact__button button">
        </form>
    </div>
</section>

<!-- Sección de curriculum vitae -->
<section class="curriculum section" id="curriculum">
    <h2 class="section-title">Curriculum Vitae</h2>
  
    <div class="cv__container bd-grid">
        <a download="cv" href="../../../assets/curriculum/CV Gonzalo Diez (5).pdf" class="cv__img">
            <img src="../../../assets/img/CV Gonzalo Diez.png" alt="curriculum vitae">
        </a>
    </div>
</section>

<!-- Sección del pie de página -->
<footer class="footer">
    <p class="footer__title">Gonzalo</p>
    <div class="footer__social">
        <a href="https://www.linkedin.com/in/gonzalo-juan-diez-7188851a5/" class="footer__icon"><i class="bx bxl-linkedin" ></i></a>
        <a href="https://www.instagram.com/gonzalodiezbuch/?hl=es-la" class="footer__icon"><i class="bx bxl-instagram" ></i></a>
    </div>
</footer>