<!-- Sección de habilidades duras -->
<section class="hard__skill section" id="skills">
    <h2 class="section-title">Habilidades duras</h2>

    <div class="hard__container bd-grid">          
            <div class="hard__data" *ngFor="let item of habilidadesduras">
                <circle-progress
                [percent]="(item.porcentajeHD)"
                [maxPercent]="100"
                [title]="(item.habilidadDuraNombre)"
                [subtitle]="'habilidad dura'"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'#3E6FF4'"
                [innerStrokeColor]="'#8EABF9'"
                [animationDuration]="1000"></circle-progress>
            </div>
    </div>
</section>