<!-- Sección de contacto -->
<section class="contact section" id="contact">
    <h2 class="section-title">Contacto</h2>

    <div class="contact__container bd-grid">
        <form class="contact__form" id="contactForm" action="" method="">
            <input id="nombre" name="name" type="text" placeholder="Nombre" class="contact__input" required>
            <input id="email" name="email" type="mail" placeholder="Email" class="contact__input" required>
            <textarea name="msgContent" id="msgContent" cols="0" rows="10" class="contact__input" required></textarea>
            <input type="submit" value="Enviar" class="contact__button button">
        </form>
    </div>
</section>