<!-- Sección de Log In -->
<form class="form-login">
  <h3 class="mb-3 font-weight-normal">Log in</h3>
  <label for="inputEmail" class="sr-only">E-mail:</label>
  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Ingrese su e-mail" required autofocus>
  <label for="inputPassword" class="sr-only">Contraseña:</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Ingrese su contraseña" required>
  <div class="login">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
  </div>
</form>