<!-- Sección de Log In -->
<form class="form-login">
  <h3 class="mb-3 font-weight-normal">Log in</h3>
  <label for="inputEmail" class="sr-only">E-mail:</label>
  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Ingrese su e-mail" required autofocus>
  <label for="inputPassword" class="sr-only">Contraseña:</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Ingrese su contraseña" required>
  <div class="login">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
  </div>
</form>

<!-- Sección del pie de página -->
<footer class="login-footer">
  <p class="footer__title">Gonzalo</p>
  <div class="footer__social">
      <a href="https://www.linkedin.com/in/gonzalo-juan-diez-7188851a5/" class="footer__icon"><i class="bx bxl-linkedin" ></i></a>
      <a href="https://www.instagram.com/gonzalodiezbuch/?hl=es-la" class="footer__icon"><i class="bx bxl-instagram" ></i></a>
  </div>
</footer>